@charset "utf-8";
/* CSS Document */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
	display: flex;
	justify-content: center;
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #FDD696;
  color: black;
}

.topnav a.active {
  background-color: #B59250;
  color: white;
}

table,th,td {
	border:1px solid #000000;
	background-color: #FDD696;
	margin-left: auto;
	margin-right: auto;
	}

#copy {
	text-align: center;
	color: white;
	font-family: caprizant, sans-serif;
font-weight: 400;
font-style: normal;
	font-kerning: none;
	
	
}
body{
	background:  #000000;
}
.column {
	float: left;
	width: 50%;
	
}
.door {
	
	
}
.garden 
	
	
#portrait {

	margin-right: auto;
	margin-left: auto;
	margin: 25px;
	display: block;
	
}
#about {
	background: #FDD696;
	text-indent: 15px;
	font-size: 16px;
	padding-right: 10px;
	text-align: justify;
	line-height: 2em;
}
#me {
	background: #FDD696;
	height: 700px;
	margin: 50px;
	width: 1660px;
	
	
}
#ab {
	color: #230506;
	padding-top: 25px;
	text-align: center;
}
#snake {
	margin-top: 15px;
	margin-left: auto;
margin-right: auto;
display: block;
}
#logo {
	margin-left: auto;
margin-right: auto;
display: block;
}
img {
		margin-left: auto;
margin-right: auto;
display: block;
padding-top: 25px;}
	

	

